<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d %logger %p %M\(%L\) %msg%n</pattern>
    </encoder>
  </appender>

	<logger name="kero" level="DEBUG" />
	
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
  
  	
</configuration>